.venv/
*/.venv/
.DS_Store
kaggle.json
*/data/
*/outputs/
*/csiro_biomass_extract/
*/kaggle_csiro_download/
*/competitions/
*.zip
*.pt
*.ckpt
*.joblib
*.parquet
*.npy
*.npz
*.tsv
*.fasta
*.obo
*.csv
*.png
*.jpg
*.jpeg

